%h2
  = title I18n.t(:alarms)
#new_alarm
  =form_for(@alarm) do |f|
    - if @alarm.errors.any?
      #error_explanation
        %h2
          = pluralize(@alarm.errors.count, "error")
          =t :alarm_form_error
          
        %ul
          - @alarm.errors.full_messages.each do |msg|
            %li= msg
    = f.hidden_field :user_id
    %p
      = f.label :Title
      = f.text_field :title
    %br
      = f.label :Keyword
      = f.text_field :keyword
    %br
      = f.label :Where
      = f.text_field :where
    %br
      =f.label :Alarm_Categories
      - Category.all.each do |category|
        .field
          = check_box_tag "category_ids[]", category.id, @alarm.category_ids.include?(category.id)
          = I18n.t("categories.#{category.name}")
    %br
      = f.label :Activated
      = f.check_box :active
    %p
    .actions
      =f.submit
%table
  - @alarms.each do |alarm|
    %p
    %tr{:class => cycle('list_line_odd', 'list_line_even')}
      %td
        %b=alarm.title
      %td
        %dd= alarm.keyword
      %td
        %dd= alarm.where
      %td
        %dd Categories...
      %td
        %small
          %dd
            =link_to I18n.t(:edit), edit_alarm_path(alarm)
          %dd
            =link_to I18n.t(:delete), alarm, :confirm => 'Are you sure', :method => :delete
          %dd
            -if alarm.active
              =link_to I18n.t(:deactivate), alarm_switch_path(:id =>alarm.id)
            -else
              =link_to I18n.t(:activate), alarm_switch_path(:id => alarm.id)
      
%br/
