%h2
  = title I18n.t(:alarms)
#new_alarm
%h3 
  = t :new_alarm
= render 'form'
%table
  - @alarms.each do |alarm|
    %p
    %tr{:class => cycle('list_line_odd', 'list_line_even')}
      %td
        %b=alarm.title
      %td
        %dd= alarm.keyword
      %td
        %dd= alarm.where
      %td
        %dd=alarm.categories.map(&:name).to_sentence
      %td
        %small
          %dd
            =link_to I18n.t(:edit), edit_alarm_path(alarm)
          %dd
            =link_to I18n.t(:delete), alarm, :confirm => I18n.t(:are_you_sure), :method => :delete
          %dd
            -if alarm.active
              =link_to I18n.t(:deactivate), alarm_switch_path(:id =>alarm.id)
            -else
              =link_to I18n.t(:activate), alarm_switch_path(:id => alarm.id)
      
%br/
