.comment
  %strong
    - usr = h comment.user.name
    = link_to usr, comment.user
    says:
  %br/
  %small
    Posted #{time_ago_in_words(comment.created_at)} ago
  %em= simple_format h(comment.body)
  = link_to 'Destroy Comment', comment,                   
    :confirm => 'Are you sure?',                          
    :method => :delete  
  -if comment.banned.eql?(false)
    = link_to "Ban Comment", admin_ban_comment_path(:id => comment.id) 
  -else 
    %strong Already Banned