= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        =t :user_form_error
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t :user_name
    %br
    = f.text_field :name
  .field
    = f.label t :user_email
    %br
    = f.email_field :email
  .field
    = f.label t :user_town
    %br
    = f.text_field :town
  .field
    = f.label t :user_province
    %br
    = select(:user, :province, User::PROVINCES.collect {|d| [I18n.t(d), d]})
  .field
    = f.label t :user_website
    %br
    = f.text_field :website
  .field
    = f.label t :user_photo
    %br
    = f.file_field :photo
  .actions
    = f.submit
