%p#notice= notice
%h2 
  =t :user_events_created
%div
  - if @user.created_events.empty?
    %p 
    =t :user_no_events_created
  - else
    - @user.created_events.each do |event|
      .entry_side
        - image = image_tag(event.photo.url(:thumb), class: 'list_image')
        = link_to image, event
        %h4
          = link_to event.title , event
        %h5
          = l event.startDate, :format => :long
          | #{event.town}
        %td.list_actions
          = link_to 'Show', event
          %br
          = link_to 'Edit', edit_event_path(event)
          = link_to 'Cancel', event, confirm: 'Are you sure?', method: :delete
          = link_to 'Submit Similar', resubmit_event_path(:id => event.id)
      -if !event.translations.empty? 
        -event.translations.each do |translation| 
          =link_to "Translation pending of approval", translation