
%h2 
  =title I18n.t(:user_events_created)
%div
  - if @user.created_events.empty?
    %p 
    =t :user_no_events_created
  - else
    - @user.created_events.each do |event|
      .entry_side
        - image = image_tag(event.pic.url(:thumb), class: 'list_image')
        = link_to image, event
        %h4
          = link_to event.title , event
        %h5
          = l event.startDate, :format => :long
          | #{event.town}
        %td.list_actions
          = link_to I18n.t(:show), event
          %br
          - if !event.cancelled && event.finishDate > Time.now
            = link_to I18n.t(:edit), edit_event_path(event)
            = link_to I18n.t(:cancel), event, confirm: I18n.t(:are_you_sure), method: :delete
          = link_to I18n.t(:submit_similar), resubmit_event_path(:id => event.id)
      -if !event.translations.empty? 
        -event.translations.each do |translation| 
          =link_to I18n.t(:translation_pending), translation