<p id="notice"><%= notice %></p>

<h2>Events created!</h2>


<div >
	<% if @user.created_events.empty? %>
		<p>No events created so far..</p>
	<% else %>
		<% @user.created_events.each do |event| %>
	 		<div class="entry_side">
					<% image = image_tag(event.pic.url(:thumb), class: 'list_image')%>
					<%= link_to image, event %>
					<h4><%= link_to event.title , event %> </h4>
					<h5><%= l event.startDate, :format => :long %> | <%= event.town %></h5>
					<td class="list_actions">
						<%= link_to 'Show', event %><br/>
						<%= link_to 'Edit', edit_event_path(event) %></br>
						<%= link_to 'Delete', event,
									confirm: 'Are you sure?',
									method: :delete %>
					</td>
				</div>
				<% end %>
	<% end %>
</div>
