<div id="submenu">
	<div>
		<b><%= link_to 'Messages', account_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Reminders', rem_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Alarms', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Uploaded Events', ev_created_path%></b>
	</div>
	|
	<div>
		<b><%= link_to 'Profile', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Settings', events_path %></b>
	</div>
</div>


<div id="left">
	<div class="block shadow">
		<% @events.each do |event| %>
		<div class="entry_side">
				<% image = image_tag(event.pic.url(:thumb), class: 'side_pic')%>
				<%= link_to image, event %>
			<h4><%= link_to event.title , event %> </h4>
		
			<h6><%= event.sdate %> | <%= event.town %></h6>
		
		</div>
			<% end %>	
	
	</div>
</div>

<div id="right_side">

<p id="notice"><%= notice %></p>
	<h3>Working on it..</h4>
	<h5>Reminders and Uploaded Events is working though</h2>
</div>