
%h1
  =title I18n.t(:sign_up) 


= form_for @user, { :multipart => true } do |f|
  - if @user.errors.any?
    .error_messages
      %h2
        =t :user_form_error
      %ul
        - for message in @user.errors.full_messages
          %li= message
  = f.hidden_field :town
  = f.hidden_field :province
  = f.hidden_field :website
  %p
    = f.label t :user_name
    %br
    = f.text_field :name
  %p
    = f.label t :user_email
    %br
    = f.email_field :email
  %p
    = f.label t :user_password
    %br
    = f.password_field :password
  %p
    = f.label t :user_password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = f.label t :user_photo
    %br
    = f.file_field :photo
  
  %p.button= f.submit
