%p#notice= notice
%h1 
  =t :sign_up 
= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2
        =t :user_form_error
      %ul
        - for message in @user.errors.full_messages
          %li= message
  = f.hidden_field :town
  = f.hidden_field :province
  = f.hidden_field :website
  %p
    = f.label t :user_name
    %br
    = f.text_field :name
  %p
    = f.label t :user_email
    %br
    = f.text_field :email
  %p
    = f.label t :user_password
    %br
    = f.password_field :password
  %p
    = f.label t :user_password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = f.label t :user_pic
    %br
    = f.file_field :pic
  %p.button= f.submit
