
%h3 User reminders
%div
  %div
    - if @events.empty?
      %p 
        = t :user_no_reminders
    - else
      - @events.each do |event|
        - @event = Event.find(event)
        .entry_side
          - image = image_tag(@event.pic.url(:thumb), class: 'list_image')
          = link_to image, @event
          %h4
            = link_to @event.title , @event
          %h5
            = l event.startDate, :format => :long
            | #{@event.town}
          .rem_icon
            - del_icon = image_tag("icons/DeleteRed.png", class:'icon')
            = link_to del_icon, del_reminder_path(:id => @event.id), confirm: 'Are you sure you want to delete this reminder?', method: del_reminder_path(:id => @event.id)
