<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<%= image_tag @user.pic.url(:medium) %>
 <br/>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Town:</b>
  <%= @user.town %>
</p>

<p>
  <b>Province:</b>
  <%= @user.province %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
