<div id="submenu">
	<div>
		<b><%= link_to 'Messages', account_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Reminders', rem_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Alarms', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Uploaded Events', ev_created_path%></b>
	</div>
	|
	<div>
		<b><%= link_to 'Profile', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Settings', events_path %></b>
	</div>
</div>




<%= render :partial => "layouts/left_bar", :locals => {:events => @events} %>

<div id="right_side">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<%= image_tag @user.pic.url(:medium) %>
 <br/>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Town:</b>
  <%= @user.town %>
</p>

<p>
  <b>Province:</b>
  <%= @user.province %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |

</div>
