%p#notice= notice
%p
  %h2
    = @user.name
= image_tag @user.pic.url(:medium)
%br
%p
  = t :email
  %b 
    = @user.email
%p
  %b 
    = t :user_town
  = @user.town
%p
  %b 
  = t :user_province
  = @user.province
%p
  %b 
    = t :user_website
  = @user.website
= link_to 'Edit', edit_user_path(@user)
-if current_user.followings.any?{|follow| follow.followed_id == @user.id}
  =t :user_already_following
-else  
  = link_to 'Follow this user', followings_path(:followed_id => @user.id), :method => :post

%p
  -if @followers.empty?
    %b 
      =t :user_no_followers
  -else
    %b 
      =t :user_followers
    - @followers.each do |follow|
      - @follower = User.find(follow.user_id)
      %p
        -userName = @follower.name
        %br/
        - user_pic = image_tag(@follower.pic.url(:thumb), class:"side_pic")
        =link_to user_pic, @follower
        =link_to userName, @follower
  

%p
  -if @user.followings.empty?
    %b 
      =t :user_no_follows
  -else
    %b 
      = t :user_follows, :name=> @user.name
    -for following in @user.followings
      %p
        -user_name=following.followed.name
        -user_pic = image_tag(following.followed.pic.url(:thumb), class:"side_pic")
        =link_to user_pic, following.followed
        =link_to user_name, following.followed
        =link_to 'stop!', following, :method => :delete if current_user.eql?(@user)
      
    