.comment
  %strong
    - usr = h comment.user.name
    = link_to usr, comment.user
  = t :comment_says
  %br/
  %small
  =t :comment_posted  
  #{time_ago_in_words(comment.created_at)}
  -if comment.banned?
    %em 
      %small
        = simple_format t :comment_banned
  -else
    %em= simple_format h(comment.body)
  =link_to 'Spam', report_spam_path(:id =>comment.id)
  -if Time.now < (comment.created_at + 5.minutes)
    = link_to I18n.t(:delete), comment,                   
      :confirm => I18n.t(:are_you_sure),                          
      :method => :delete if current_user.eql?(comment.user)
