
<div id="submenu">
	<div>
		<b><%= link_to 'Music', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Dance & Theatre', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Feasts & traditions', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Family Activities', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Gay & Lesbian', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Others', events_path %></b>
	</div>
</div>

<%= render :partial => "layouts/left_bar", :locals => {:events => @events} %>

<div id="right_side">

<p id="notice"><%= notice %></p>

<table>
	<% @events.each do |event| %>
		<tr class="<%=  cycle('list_line_odd', 'list_line_even') %>">
			
			<td>
				<% pic = image_tag(event.pic.url(:thumb), class: 'list_image')%>
				<%= link_to pic, event%>
			</td>
			
			<td class="list_description">
				<dl>
					<dt><%= link_to event.title, event %></dt>
					<dd><%= l event.startDate, :format => :long%></dd>
					<dd><%= event.place %> | <%= event.town%></dd>
					<dd><%= truncate(strip_tags(event.description), length:80) %></dd>
				</dl>
			</td>
			
			
		
  		</tr>
<% end %>
</table>

<br />


</div>


