<div id="submenu">
	<div>
		<b><%= link_to 'Alava', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Biscay', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Gipuzkoa', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Navarre', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Labourd', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Lower Navarre', events_path %></b>
	</div>
	|
	<div>
		<b><%= link_to 'Soule', events_path %></b>
	</div>
</div>



<%= render :partial => "layouts/left_bar", :locals => {:events => @events} %>



<div id="right_side">

<p id="notice"><%= notice %></p>

<h4>Working on it...</h4>

</div>