
#h2
  =title I18n.t(:submit_similar)


= form_for(@event) do |f|
  - if @event.errors.any?
    #error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        =t :event_form_error
        //prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t :event_title
    %br
    = f.text_field(:title, :value => @old_event.title)
  
  = f.label t :event_categories
  - Category.all.each do |category|
    .field
      = check_box_tag "category_ids[]", category.id, @event.category_ids.include?(category.id)
      = I18n.t("categories.#{category.name}")
  =f.hidden_field(:pic_file_name, :value => @old_event.pic_file_name)
  =f.hidden_field(:pic_content_type, :value => @old_event.pic_content_type)
  =f.hidden_field(:pic_file_size, :value => @old_event.pic_file_size)    
  
  
    
  .field
    = f.label t :event_start_date
    %br
    = f.datetime_select(:startDate, :value => @old_event.startDate)
  .field
    = f.label t :event_finish_date
    %br
    = f.datetime_select(:finishDate, :value => @old_event.finishDate)
  .field
    = f.label t :event_place
    %br
    = f.text_field(:place, :value => @old_event.place)
  .field
    = f.label t :event_address
    %br
    = f.text_field(:address, :value => @old_event.address)
  .field
    = f.label t :event_town
    %br
    = f.text_field(:town, :value => @old_event.town)
  .field
    = f.label t :event_province
    %br
    = f.text_field(:province, :value => @old_event.province)
  .field
    = f.label t :event_price
    %br
    = f.text_field(:price, :value => @old_event.price)
  .field
    = f.label t :event_description
    %br
    = f.text_area(:description, :value => @old_event.description)
  .field
    = f.label t :email
    %br
    = f.text_field(:email, :value => @old_event.email)
  .field
    = f.label t :event_website
    %br
    = f.text_field(:website, :value => @old_event.website)
  .field
    = f.label t :event_phone
    %br
    = f.text_field(:phone, :value => @old_event.phone)
  %p
    = f.label t :event_pic
    %br
    = f.file_field(:pic, :value => @old_event.pic_file_name)
  .actions
    = f.submit
