#main.top
  %div
    = image_tag(@event.pic.url(:medium), class:"list_image_show", :alt =>"Event picture")
  %p
    %h2
      =title @event.title
  .details
    %p
      
      %b 
        = t :event_display_start_date
      = l @event.startDate, :format => :long
    %p
      %b 
        = t :event_display_finish_date
      = l @event.finish_date, :format => :long
    %p
      %b 
        = t :event_place 
      = @event.place
    %p
      %b 
        = t :event_address 
      = @event.address
    %p
      %b 
        = t :event_town
      = @event.town
      %b 
        = t :event_province
      = I18n.t(@event.province)
      
    - if !@event.price.nil?
      %p
        %b 
          = t :event_price
        #{@event.price}€
        
    %p
      %b 
        = t :event_categories
        
      =  @event.categories.map(&:name).to_sentence
.interested
  -if @event.cancelled
    %h3 This event has been cancelled
  - else
    - if (current_user && current_user.events.include?(@event))
      %h3  
        -if ((@event.startDate-Time.now)< 259146.01469397545)
          =t :reminder_soon
        -else
          = t :already_following_event
    - else  
    
#info
  .side_big
    #description
      %p
        %b 
          = t :event_description
        = @event.description
      %p
        %b 
          =t :email
        = @event.email
      %p
        %b 
          =t :event_website
        = @event.website
      %p
        %b 
          = t :event_phone
        = @event.phone
      %p
        %b 
          =t :event_creator
        = link_to @event.user.name, @event.user
    #comments
      #comments_count=I18n.t("comment", :count=> @event.comments.count)
      #new_comment
        = form_for @comment do|f|
          = f.hidden_field :event_id
          %p
            = f.label t :do_comment
            %br/
            = f.text_area :body
          %p
            = f.submit t :submit_comment
      #all_comments
        = render :partial => 'comment', :collection => @event.comments
    #gmap
      = gmaps("map_options" => { "detect_location" => true, "auto_zoom" => false, "center_on_user" => true, "zoom" => 17},"markers" => { "data" => @json })
      
     
  .side_small

    .attenders
      =I18n.t("interested", :count=> @event.users.count)
      %div
        - @event.users.each do |user_id|
          - @user = User.find(user_id)
          %p
            - userName = @user.name
          %br/
          - user_photo= image_tag(@user.photo.url(:thumb), class:"side_pic")
          = link_to user_photo, @user
          = link_to userName, @user

-if !@event.cancelled
  =link_to I18n.t('add_translation'), new_translation_path(:id => @event.id)