%p#notice= notice
#main.top
  %div
    = image_tag(@event.pic.url(:medium), class:"list_image_show", :alt =>"Event picture")
  %p
    %h2= @event.title
  .details
    %p
      %b 
        = t :event_display_start_date
      = l @event.startDate, :format => :long
    %p
      %b 
        = t :event_display_finish_date
      = l @event.finishDate, :format => :long
    %p
      %b 
        = t :event_place 
      = @event.place
    %p
      %b 
        = t :event_town
      = @event.town
      %b 
        = t :event_province
      = @event.province
      
    - if !@event.price.nil?
      %p
        %b 
          = t :event_price
        #{@event.price}€
        
    %p
      %b 
        = t :event_categories
      = @event.categories.map(&:name).to_sentence
.interested
  - if (current_user && current_user.events.include?(@event))
    %h3 
      = t :already_following_event
  - else  
    - reminder_img= image_tag ("interested2.png")
    = link_to reminder_img, add_reminder_path(:id => @event.id)
#info
  .side_big
    #description
      %p
        %b 
          = t :event_description
        = @event.description
      %p
        %b 
          =t :email
        = @event.email
      %p
        %b 
          =t :event_website
        = @event.website
      %p
        %b 
          = t :event_phone
        = @event.phone
      %p
        %b 
          =t :event_creator
        = link_to @event.user.name, @event.user
    #comments
      #comments_count=I18n.t("comment", :count=> @event.comments.count)
      #new_comment
        = form_for @comment do|f|
          = f.hidden_field :event_id
          %p
            = f.label t :do_comment
            %br/
            = f.text_area :body
          %p
            = f.submit t :submit_comment
      #all_comments
        = render :partial => 'comment', :collection => @event.comments
    #map
      This the map showing the exact point:
      =@json
      = gmaps4rails(@json)
  .side_small
    %div
      %p
        = image_tag ("media/google.png")
        = image_tag ("media/tw.png")
      %p
        = image_tag ("media/wd.png")
        = image_tag ("media/fb.png")
    .attenders
      =I18n.t("interested", :count=> @event.users.count)
      %div
        - @event.users.each do |user_id|
          - @user = User.find(user_id)
          %p
            - userName = @user.name
          %br/
          - user_pic= image_tag(@user.pic.url(:thumb), class:"side_pic")
          = link_to user_pic, @user
          = link_to userName, @user
