<p id="notice"><%= notice %></p>

<div id="main" class="top">
	<div>
		<%= image_tag(@event.pic.url(:medium), class:"list_image_show")%>
	</div>
	
	<p>  
	  <h2 ><%= @event.title %></h2>
	</p>
	
	<div class="details">
		<p>
		  <b>Starts:</b>
		  <%= l @event.startDate, :format => :long %>
		</p>
		<p>
			<b>Finishes:</b>
			<%= l @event.finishDate, :format => :long %>
		</p>
		<p>
		  <b>Place:</b>
		  	<%= @event.place %>
		</p>

		<p>
		  <b>Town:</b>
		  <%= @event.town %>
		  <b>Province:</b>
		  <%= @event.province %>
		</p>

		<p>
		  <b>Price:</b>
		  €<%= @event.price %>
		</p>
		
		<p>
		  <b>Categories:</b>
		  <%= @event.categories.map(&:name).to_sentence %>
		</p>
	</div>
</div>

<div class="interested">
	<% reminder_img= image_tag ("interested2.png")%>
	<%= link_to reminder_img, add_reminder_path(:id => @event.id) %>
	
	
</div>


<div id="info">
	<div class="side_big">
		
		<div id="description">
			<p>
			  <b>Description:</b></br>
			  <%= @event.description %>
			</p>

			<p>
			  <b>Mail:</b>
			  <%= @event.email %>
			</p>

			<p>
			  <b>Website:</b>
			  <%= @event.website %>
			</p>

			<p>
			  <b>Phone:</b>
			  <%= @event.phone %>
			</p>
			<p>
			  <b>Created by:</b>		
			  <%= link_to @event.user.name, @event.user %>
			</p>
		</div>
		
		<div id="comments">
			<div id="comments_count"><%= pluralize(@event.comments.count, 'comment') %></div>
			<div id="new_comment">
				
				<%= form_for @comment do|f| %>
					  
				  <%= f.hidden_field :event_id %>

				  <p>
				    <%= f.label :Coment! %><br />
				    <%= f.text_area :body %>
				  </p>

				  <p>
				    <%= f.submit "Post Comment" %>
				  </p>
				<% end %>
			</div>
			<div id="all_comments">
				<%= render :partial => 'comment', :collection => @event.comments %> 
			</div>
		</div>
	</div>		
	<div class="side_small">
			<div>
				<p><%= image_tag ("media/google.png")%>
					<%= image_tag ("media/tw.png")%></p>
				<p><%= image_tag ("media/wd.png")%>
					<%= image_tag ("media/fb.png")%></p>
			</div>
			<div class="attenders">
				<%= @event.users.size %> interested!
					<div>
						<% @event.users.each do |user_id| %>
						 <%  @user = User.find(user_id) %>
							<p><% userName = @user.name %></p><br/>
							<% user_pic= image_tag(@user.pic.url(:thumb), class:"side_pic")%>
							<%= link_to user_pic, @user %>
							<%= link_to userName, @user %>
						<% end %>
					</div>
				
			</div>
		</div>

