%h1 Listing users
%table
  %tr
    %th ID
    %th Name
    %th Email
    %th Town
    %th Actions
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.email
      %td= user.town
      %td
        = link_to 'Show', [:admin, user]
        = link_to 'Edit', edit_admin_user_path(user)
        = link_to 'Destroy', admin_user_path(user), confirm: 'Are you sure?', method: :delete
%br
= link_to 'New User', new_admin_user_path
