%h2.capital.theFont
  =title I18n.t(:log_in)
= form_for @user_session do |f|
  - if @user_session.errors.any?
    #error_explanation
      %h2
        = pluralize(@user_session.errors.count, "error")
        =t :session_form_error
      %ul
        - @user_session.errors.full_messages.each do |msg|
          %li= msg
  = f.label t :user_email
  %br/
  = f.text_field :email
  %br/
  %br/
  = f.label t :user_password
  %br/
  = f.password_field :password
  %br/
  %br/
  .button= f.submit I18n.t(:log_in)
  
%b=link_to "Forgotten your password?", new_password_reset_path
