<header>

<div class="wrap">
	
	<div id="logo" >
		<% logo_tag = image_tag("eguzkilore.png", :alt => "Basque Country Go On") %>
	  	<%= link_to logo_tag, root_path %>
	</div>
	
	<div id="right">
		<div id="loggin">
		    		<% flash.each do |name, msg| %>
					    <%= content_tag :div, msg, :id => "flash#{name}" %>
					  <% end %>

					<div id="user_nav">
					  <% if @current_user %>
					    Logged in as <%= @current_user.name %>
					    <%= link_to "Log out", log_out_path %>
					  <% else %>
					    <%= link_to "Sign up", sign_up_path %> or 
					    <%= link_to "Log in", log_in_path %>
					  <% end %>
					
		</div>
		
		<div id="lang" class="ln">
			<li><%= link_to "eu ", root_path %></li> 
  			<li><%= link_to "es", "" %></li> 
  			<li><%= link_to "en", root_path %></li> 
			<li><%= link_to "fr", "" %></li>
		</div>
	</div>	
	<div id="bottom">
		<div id="banner">
		</div>
		<div id="menu">
				<nav> 
		    		<ul>
		      			<li><%= link_to_unless_current "Events", root_path do
						link_to "Events", root_path, :class => "current"
						        end %></li>
						<li><%= link_to_unless_current "Location", locations_path do
						link_to "Location", locations_path, :class => "current"
						        end %></li>
						<li><%= link_to_unless_current "Account", account_path do
						link_to "Account", account_path, :class => "current"
						        end %></li>
		    		</ul>
		  		</nav>
		</div>

		<div id="search">
			<h4>Search:</h4>
		</div>
	</div>
	


</div>

</header>