
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  
  %head
    = title :site => "HiKultura"
    = metamagic :title => @title, :description => "My default description."
    = stylesheet_link_tag    "application"
    
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link type="text/css" href="http://yourwebsite.com/css/ui-lightness/jquery-ui-1.8.custom.css" rel="stylesheet" /> 
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f832c682c196183"></script>  
  %body{:class => "#{controller.controller_name} container"}
    .container
      #header
        %header
          
          .wrap
            #logo
              
            #right
              #loggin
                
                #user_nav
                  - if current_user
                    =I18n.t(:logged_as) 
                    = link_to current_user.name, account_path
                    = link_to I18n.t(:log_out), log_out_path
                  - else
                    = link_to I18n.t(:sign_up), sign_up_path
                    = t :o_word
                    = link_to I18n.t(:log_in), log_in_path
                #lang.ln
                  %li= link_to "eu", change_locale_path(:locale => "eu")
                  %li= link_to "es", change_locale_path(:locale => "es")
                  %li= link_to "en", change_locale_path(:locale => "en")
                  %li= link_to "fr", change_locale_path(:locale => "fr")
              #bottom
                #banner
                #menu
                  %nav
                    %ul.tabnav
                      -  if @page_id == 'events'
                        %li.active
                          = link_to I18n.t(:menu_events), root_path
                        %li.inactive
                          = link_to I18n.t(:menu_locations), locations_path
                        %li.inactive
                          = link_to I18n.t(:menu_account), account_path
                      -if @page_id == 'locations'
                        %li.inactive
                          = link_to I18n.t(:menu_events), root_path
                        %li.active
                          = link_to I18n.t(:menu_locations), locations_path
                        %li.inactive
                          = link_to I18n.t(:menu_account), account_path
                      -if @page_id == 'account'
                        %li.inactive
                          = link_to I18n.t(:menu_events), root_path
                        %li.inactive
                          = link_to I18n.t(:menu_locations), locations_path
                        %li.active
                          = link_to I18n.t(:menu_account), account_path
                #search
                  %h4 Search:
      #main
        #sidebar
          %sidebar
            #searchBox
              %p
                =t :search_keyword
                %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "text", :value => ""}/
              %p
                =t :search_when
                %input#event_title.blockShadow{:name => "titleinput", :size => "19", :type => "text", :value => ""}/
              %p
                =t :search_categories
                %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "list", :value => ""}/
              %p
                =t :search_where
                %input#search_where{:style=>"display=none", :name => "titleinput", :size => "20", :type => "date_select", :value => "", :placeholder => I18n.t(:search_placeholder_where)}/
              %p ---------------------------------------
              #sButton
                %li= link_to "Crack on!", root_path
            #uploadEvent
              = link_to I18n.t(:upload_event_button), new_event_path, :class => "upload_button", :alt => "Subir evento"
          %p
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
            </div>
        #submenu
          -if @page_id =='events'
            %div
              %b= link_to "All", events_path
            - @categories.each do |category|
              %div
                %b= link_to_unless_current category.name, category_path(category)
          - if @page_id == 'locations'
            - @provinces.each do |province|
              %div
                %b= link_to_unless_current province.name, province_path(province)
          - if @page_id == 'account'
            %div
              %b= link_to_unless_current 'Activity', account_path
            %div
              %b= link_to_unless_current 'Reminders', reminders_path
            %div
              %b= link_to_unless_current 'Alarms', alarms_path
            %div
              %b= link_to_unless_current 'Uploaded Events', events_created_path
            %div
              %b= link_to_unless_current 'Followings', followings_path
            %div
              %b= link_to_unless_current 'Profile', current_user
      #left
         
        #right_side
          %p#notice= notice
          = yield
            
      #footer
        =yield :scripts
        %h1
          =link_to_function "Click", onclick="alert('Hello'); return false"
          <a href="#" onclick="alert('Hello'); return false; return false;">Click</a>
          <a href="#" id="message">Hola sip!</a>
          <h1><a href="#" id="alert">Click Here</a></h1>
          
