
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  
  %head
    = title :site => "HiKultura"
    = metamagic :title => @title, :description => I18n.t(:event_description)
    = stylesheet_link_tag    "application"
    
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link type="text/css" href="http://yourwebsite.com/css/ui-lightness/jquery-ui-1.8.custom.css" rel="stylesheet" /> 
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f832c682c196183"></script>  
  %body{:class => "#{controller.controller_name} container"}
    .container
      #header
        
        %header
          
          .wrap
            #logo

              - logo_tag = image_tag("logo.png", :alt => "Logo HiKultura.com", :class => "logo_size")
              = link_to logo_tag, root_path
            
              
            #header_right
              #login
                #user_nav
                  - if current_user
                    .sign 
                      = link_to truncate(current_user.name, :length=>10), account_path
                    .log
                      = link_to I18n.t(:log_out), log_out_path
                  - else
                    .sign
                      = link_to I18n.t(:sign_up), sign_up_path
                    .log
                      = link_to I18n.t(:log_in), log_in_path
                #lang
                  - [:es, :eu, :fr, :en].each do |locale|
                    %li= link_to locale, url_for(locale: locale)

              #menu
                %ul.tabnav
                  -  if @page_id == 'events'
                    %li.tab.active
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.inactive
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.inactive
                      = link_to I18n.t(:menu_account), account_path
                  -if @page_id == 'locations'
                    %li.tab.inactive
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.active
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.inactive
                      = link_to I18n.t(:menu_account), account_path
                  -if @page_id == 'account'
                    %li.tab.inactive
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.inactive
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.active
                      = link_to I18n.t(:menu_account), account_path

      #main
        #left
          #submenu
            -if @page_id =='events'
              %div
                = link_to I18n.t(:all), events_path
              - @categories.each do |category|
                %div
                  = link_to_unless_current I18n.t("categories.#{category.name}"), category_path(category)
            - if @page_id == 'locations'
              %div
                = link_to_unless_current I18n.t(:all), locations_path
              %div
                = link_to_unless_current I18n.t("alaba"), province_path('alaba')
              %div
                = link_to_unless_current I18n.t("biscay"), province_path('biscay')
              %div
                = link_to_unless_current I18n.t("guipuzkoa"), province_path('guipuzkoa')
              %div
                = link_to_unless_current I18n.t("navarre"), province_path('navarre')
              %div
                = link_to_unless_current I18n.t("labourd"), province_path('labourd')
              %div
                = link_to_unless_current I18n.t("b_navarre"), province_path('b_navarre')
              %div
                = link_to_unless_current I18n.t("soule"), province_path('soule')
            - if @page_id == 'account'
              %div
                = link_to_unless_current I18n.t(:activity), account_path
              %div
                %b= link_to_unless_current I18n.t(:reminders), reminders_path
              %div
                = link_to_unless_current I18n.t(:alarms), alarms_path
              %div
                = link_to_unless_current I18n.t(:uploaded_events), events_created_path
              %div
                = link_to_unless_current I18n.t(:followings), followings_path
              %div
                = link_to_unless_current I18n.t(:profile), profile_path
          
          #left_bar
          
          #central
            %p#notice= notice
            = yield
        #right
          #search_box
            %p
              =t :search_keyword
              %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "text", :value => ""}/
            %p
              =t :search_when
              %input#event_title.blockShadow{:name => "titleinput", :size => "19", :type => "text", :value => ""}/
            %p
              =t :search_categories
              %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "list", :value => ""}/
            %p
              =t :search_where
              %input#search_where{:style=>"display=none", :name => "titleinput", :size => "20", :type => "date_select", :value => "", :placeholder => I18n.t(:search_placeholder_where)}/
          %p ---------------------------------------
          #sButton
            %li= link_to "Crack on!", root_path
          
            
        
      
         
      
        
        =yield :scripts
      
          
