
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">

%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  
  %head
    <link rel="shortcut icon" href="/favicon.ico" />
    = title :site => "HiKultura"
    = metamagic :title => @title, :description => I18n.t(:event_description)
    = stylesheet_link_tag    "application"
    
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f832c682c196183"></script>  

    

    
    


    
  %body{:class => "#{controller.controller_name} container"}
    .container
      #header
        
        %header
          
          .wrap
            #logo

              - logo_tag = image_tag("hikultura_paisvasco_euskadi_jaia_cultura_small.png", :alt => "HiKultura Logo HiKultura.com", :class => "logo_size")
              = link_to logo_tag, root_path
              #slogan.capital
                =t :slogan
              
            #header_right
              #login
                #user_nav
                  - if current_user
                    .sign 
                      = link_to truncate(current_user.name, :length=>10), account_path
                    .log
                      = link_to I18n.t(:log_out), log_out_path
                  - else
                    .sign
                      = link_to I18n.t(:sign_up), sign_up_path
                    .log
                      = link_to I18n.t(:log_in), log_in_path
                #lang
                  - [:es, :eu, :fr, :en].each do |locale|
                    %li= link_to locale, url_for(locale: locale)

              #menu
                %ul.tabnav
                  -  if @page_id == 'events'
                    %li.tab.active
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.inactive
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.inactive
                      = link_to I18n.t(:menu_account), account_path
                  -if @page_id == 'locations'
                    %li.tab.inactive
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.active
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.inactive
                      = link_to I18n.t(:menu_account), account_path
                  -if @page_id == 'account'
                    %li.tab.inactive
                      = link_to I18n.t(:menu_events), root_path
                    %li.tab.inactive
                      = link_to I18n.t(:menu_locations), locations_path
                    %li.account.active
                      = link_to I18n.t(:menu_account), account_path

      #main
        #left
          #submenu
            -if @page_id =='events'
              %table
                %td
                  = link_to I18n.t(:all), events_path
                - @categories.each do |category|
                  %td
                    = link_to_unless_current I18n.t("categories.#{category.name}"), category_path(category)
            - if @page_id == 'locations'
              %table
                %td
                  = link_to_unless_current I18n.t(:all), locations_path
                %td
                  = link_to_unless_current I18n.t("alaba"), province_path('alaba')
                %td
                  = link_to_unless_current I18n.t("biscay"), province_path('biscay')
                %td
                  = link_to_unless_current I18n.t("guipuzkoa"), province_path('guipuzkoa')
                %td
                  = link_to_unless_current I18n.t("navarre"), province_path('navarre')
                %td
                  = link_to_unless_current I18n.t("labourd"), province_path('labourd')
                %td
                  = link_to_unless_current I18n.t("b_navarre"), province_path('b_navarre')
                %td
                  = link_to_unless_current I18n.t("soule"), province_path('soule')
            - if @page_id == 'account'
              %table
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:activity), account_path
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:reminders), reminders_path
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:alarms), alarms_path
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:uploaded_events), events_created_path
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:followings), followings_path
                %td{:style=>"width:116.6px;"}
                  = link_to_unless_current I18n.t(:profile), profile_path
          
          #left_bar
            
            =render 'layouts/left_bar'
          
          #central
            %p#notice= notice
            
            = yield

        #right
          #search_box.shadow
            = form_tag search_path, :id=>"events_search" do
              #s_keyword.capital
                = label_tag I18n.t(:search_keyword)
                %br
                  = text_field_tag :query, "", :class=>"search_text"
                %p
              #s_date01.capital{:style=>"height:47px;"}
                = label_tag I18n.t(:search_when)
                %br
                  .date_selector
                    = select_date Date.today, :prefix => :search_start_date, :order => [:day, :month, :year]
                
              #s_categories.capital
                = label_tag I18n.t(:search_categories)
                %p
                  - Category.all.each do |category|
                    .category_field
                      = check_box_tag "category_ids[]", category.id
                      = I18n.t("categories.#{category.name}")
                  .category_field
                    = check_box("all", 'pm_xray', {:onclick=>"selectAll()"} )
                    = I18n.t(:all)
                    
                %p
              #s_where.capital{:style=>"margin-top:97px;"}
                = label_tag I18n.t(:search_where)
                %br
                  = text_field_tag(:search_where, "", :class=>"search_text")
                %p
              #s_button
                = img =image_submit_tag('goazen_hikultura com_euskal_herriko_kultura.png', :class=>"s_button")
          #under_search

            
            
            #share_buttons.addthis_toolbox.addthis_default_style.addthis_32x32_style
              %a.addthis_button_preferred_1
              %a.addthis_button_preferred_2
              %a.addthis_button_preferred_3
              %a.addthis_button_preferred_4
              %a.addthis_button_compact
              %a.addthis_counter.addthis_bubble_style

            

          
 
          
            
        
      
         
      
        
        =yield :scripts
      
          
