
%html
  %head
    %title The best web - - version 0.0.8.1.5.2 Beta
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    <link type="text/css" href="http://yourwebsite.com/css/ui-lightness/jquery-ui-1.8.custom.css" rel="stylesheet" />   
  %body{:class => "#{controller.controller_name} container"}
    .container
      #header
        %header
          
          .wrap
            #logo
              - logo_tag = image_tag("eguzkilore.png", :alt => "Basque Country Go On")
              = link_to logo_tag, root_path
            #right
              #loggin
                - flash.each do |name, msg|
                  = content_tag :div, msg, :id => "flash#{name}"
                #user_nav
                  - if current_user
                    =I18n.t(:logged_as) 
                    #{current_user.name}
                    = link_to I18n.t(:log_out), log_out_path
                  - else
                    = link_to I18n.t(:sign_up), sign_up_path
                    = t :o_word
                    = link_to I18n.t(:log_in), log_in_path
                #lang.ln
                  %li= link_to "eu ", change_locale_path(:locale => "eu")
                  %li= link_to "es", change_locale_path(:locale => "es")
                  %li= link_to "en", change_locale_path(:locale => "en")
                  %li= link_to "fr", change_locale_path(:locale => "fr")
              #bottom
                #banner
                #menu
                  %nav
                    %ul
                      %li= link_to_unless_current I18n.t(:menu_events), ""
                      %li= link_to_unless_current I18n.t(:menu_locations), locations_path
                      %li= link_to_unless_current I18n.t(:menu_account), account_path
                #search
                  %h4 Search:
      #main
        #sidebar
          %sidebar
            #searchBox
              %p
                =t :search_keyword
                %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "text", :value => ""}/
              %p
                =t :search_when
                %input#event_title.blockShadow{:name => "titleinput", :size => "19", :type => "text", :value => ""}/
              %p
                =t :search_categories
                %input#event_title.blockShadow{:name => "titleinput", :size => "20", :type => "list", :value => ""}/
              %p
                =t :search_where
                %input#search_where.autocomplete{:style=>"display=none", :name => "titleinput", :size => "20", :type => "date_select", :value => "", :placeholder => I18n.t(:search_placeholder_where)}/
              %p ---------------------------------------
              #sButton
                %li= link_to "Crack on!", root_path
            #uploadEvent
              = link_to I18n.t(:upload_event_button), new_event_path, :class => "upload_button", :alt => "Subir evento"
        #submenu
          %div
            %b= link_to "All", events_path
          - @categories.each do |category|
            %div
              %b= link_to category.name, category_path(category)
              
        #left
          .block.shadow
            - @events_leftbar.each do |event|
              .entry_side
                - image = image_tag(event.pic.url(:thumb), class: 'side_pic')
                = link_to image, event
                %h4
                  = link_to event.title , event
                %h6
                  = l event.startDate,  :format => :short
                  | #{event.town}
        #right_side
          = yield
      #footer
        =yield :scripts
      //  %h1
      //    =link_to_function "Click", onclick="alert('Hello'); return false"
      //    <a href="#" onclick="alert('Hello'); return false; return false;">Click</a>
      //    <a href="#" id="message">Hola sip!</a>
      //    <h1><a href="#" id="alert">Click Here</a></h1>
          
        
